<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<a th:fragment="card (product)" class="card__link" th:href="'/catalog/' + ${product.id}">
    <div class="item__card">
        <div class="card__img">
            <img src="http://placehold.it/270x270?text=1" alt="product img">
            <img class="card_img_hidden" src="http://placehold.it/270x270?text=2" alt="product img">
        </div>
        <div class="card__content text-center">
            <div class="card__title font-raleway text-white fs-20 text-uppercase" th:text="${product.name}"></div>
            <div class="card__price font-montserrat text-white fs-20 text-uppercase"
                 th:text="${product.price}+' byn'"></div>
        </div>
    </div>
</a>


<div th:fragment="basket_card (product, amount)" class="product__card d-flex">
    <img class="product_card_img" src="http://placehold.it/300x300?text=1">
    <div class="text-white font-raleway pl-10">
        <div class="card__text fs-25" th:text="${product.name}"></div>
        <div class="card__text fs-20" th:text="${product.name}"></div>
    </div>
    <div class="d-flex align-items-center pl-20">
        <input class="amount__input font-montserrat fs-20 text-white" type="number" min="1" max="100"
               th:value="${amount}" th:name="${product.id}">
        <div class="amount_button_container">
            <button class="amount__button text-white font-montserrat" th:onclick="|addProduct('${product.id}');|">
                <div>+</div>
            </button>
            <button class="amount__button text-white font-montserrat" th:onclick="|divideProduct('${product.id}');|">
                <div>&#8722;</div>
            </button>
        </div>
    </div>
    <div class="font-montserrat text-white fs-20 text-uppercase"
         style="white-space: nowrap; margin: auto 20px;" th:text="${product.price}">
    </div>
    <a class="text-white delete__link" th:href="@{/basket/remove/__${product.id}__}">&nbsp;&nbsp;&nbsp;&nbsp;</a>
</div>


</body>
</html>