<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="full" class="container-fluid w-100 pt-70 bg-black">
    <div class="row">
        <div class="col-lg-4 px-0">
            <img class="w-100" th:src="@{/ref/earrings.png}" alt="earrings">
            <span class="overlay-text font-raleway bg-lightgreen font-raleway text-uppercase text-white fs-20"
                  th:text="#{main.earrings}"></span>
        </div>
        <div class="col-lg-4 px-0">
            <img class="w-100" th:src="@{/ref/rings.png}" alt="rings">
            <span class="overlay-text font-raleway bg-lightgreen font-raleway text-uppercase text-white fs-20"
                  th:text="#{main.rings}"></span>
        </div>
        <div class="col-lg-4 px-0">
            <img class="w-100" th:src="@{/ref/pendants.png}" alt="pendants">
            <span class="overlay-text font-raleway bg-lightgreen font-raleway text-uppercase text-white fs-20"
                  th:text="#{main.pendants}"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 px-0">
            <img class="w-100" th:src="@{/ref/chains.png}" alt="chains">
            <span class="overlay-text font-raleway bg-lightgreen font-raleway text-uppercase text-white fs-20"
                  th:text="#{main.chains}"></span>
        </div>
        <div class="col-lg-4 px-0">
            <img class="w-100" th:src="@{/ref/cuffs.png}" alt="cuffs">
            <span class="overlay-text font-raleway bg-lightgreen font-raleway text-uppercase text-white fs-20"
                  th:text="#{main.cuffs}"></span>
        </div>
        <div class="col-lg-4 px-0">
            <img class="w-100" th:src="@{/ref/bracelets.png}" alt="bracelets">
            <span class="overlay-text font-raleway bg-lightgreen font-raleway text-uppercase text-white fs-20"
                  th:text="#{main.bracelets}"></span>
        </div>
    </div>
</div>


</body>
</html>