<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org" lang="en">
<head>
    <title>POYNAC</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <!--//Fonts-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../static/css/main.css">
    <link rel="stylesheet" th:href="@{/css/basket.css}" href="../../static/css/basket.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</head>
<body class="bg-black">


<div class="container-fluid" th:insert="~{parts/header::logo-part}"></div>


<div class="container-fluid">
    <div class="row">

        <div class="col-lg-4 order-lg-12">

            <div sec:authorize="!isAuthenticated()">
                <div th:if="${order == null}">
                    <div class="font-raleway fs-30 text-white mt-70 ml-30" th:text="#{basket.isEmpty}"></div>
                </div>
                <div th:if="${order != null}">
                    <div class="bg-darkgreen mt-200 w-300">
                        <div class="text-white d-flex ml-30 pt-30">
                            <div class="fs-25 font-raleway mr-10">Итого:</div>
                            <div class="fs-25 font-montserrat text-uppercase"
                                 th:text="${order.countFullPrice() + ' byn'}"></div>
                        </div>
                        <div class="text-white font-raleway fs-20 pt-30 px-30 letter-spacing-0"
                             th:text="#{basket.unlogin}">
                        </div>
                        <div class="mt-30 pb-40">
                            <a class="bg-lightgreen text-white font-raleway fs-20 letter-spacing-0 p-2 ml-30"
                               th:text="#{button.login}" th:href="@{/auth/login}"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div sec:authorize="isAuthenticated()">
                <div th:if="${order == null}">
                    <div class="font-raleway fs-30 text-white mt-70 ml-30" th:text="#{basket.isEmpty}"></div>
                </div>
                <div th:if="${order != null}" class="w-300 h-500 bg-darkgreen mt-200 mb-70">
                    <div class="text-white d-flex ml-30 pt-30">
                        <div class="fs-25 font-raleway mr-10">Итого:</div>
                        <div class="fs-25 font-montserrat text-uppercase"
                             th:text="${order.countFullPrice() + ' byn'}"></div>
                    </div>
                    <div class="text-white ml-30 pt-30 mb-20 fs-20 font-raleway">Способ доставки</div>

                    <form th:method="POST" th:action="@{/basket/save}">
                        <div class="widget__body d-block">
                            <label class="checkbox ml-30 d-block mt-2"
                                   th:each="item : ${#strings.arraySplit('basket.getByAddress;basket.courier;basket.mail', ';')}">
                                <input type="radio" th:field="*{saveParam.delivery}" th:value="${item}"
                                       class="checkbox__real">
                                <span class="checkbox__fake"></span>
                                <span class="checkbox__title text-white font-raleway fs-20 text-capitalize"
                                      th:text="#{${item}}"></span>
                            </label>
                        </div>
                        <div class="text-white ml-30 pt-30 fs-20 font-raleway" th:text="#{basket.comment}"></div>
                        <textarea th:field="*{saveParam.comment}" type="text"
                                  class="ml-30 mt-20 h-80 bg-darkgreen font-raleway text-white"
                                  style="border: 2px solid #2D3D2E; width: 230px; resize: none; outline: none;"></textarea>
                        <button class="ml-30 bg-lightgreen py-1 px-2 font-raleway fs-20 mt-30 text-white" type="submit"
                                th:text="#{basket.makeOrder}">
                        </button>
                    </form>
                </div>

            </div>
        </div>

        <div class="col-lg-8 order-lg-1">

            <div class="text-white text-uppercase font-raleway fs-40 pt-70 pl-100" th:text="#{basket}"></div>
            <div class="product__holder">
                <th:block th:if="${order != null}">
                    <th:block th:each="i : ${order.products.keySet()}">
                        <div th:replace="parts/catalog/item-card::basket_card (${i}, ${order.products.get(i)})"></div>
                    </th:block>
                </th:block>
            </div>
        </div>
    </div>
</div>


<div th:replace="~{parts/footer::full}"></div>

<script th:src="@{/js/visual.js}"></script>


</body>
</html>
